{{- /* author of item being reviewed  */ -}}
{{- /* defined in yaml frontmatter for each post  */ -}}

{{- $author := .context.Page.Params.author -}}
{{- $cite := .context.Page.Params.cite -}}
{{- $link_bio := .context.Page.Params.link_bio -}}

<p itemprop="author" itemscope itemtype="https://schema.org/Person">
{{- with .context.Page.Params.link_bio -}}
    <a href="{{ $link_bio }}"><span itemprop="name">{{ $author }}</span></a>
    <meta itemprop="url" content="{{ $link_bio }}" />
{{- else }}
  <span itemprop="name">{{ $author }}</span>
{{- end }}
</p>
