<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style type="text/css">
      /* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  background-color: #f5f5f5;
}
    </style>

  <title>{{page.title}} by {{page.author}} &sect; {{site.title}}</title>
</head>
<body class="d-flex flex-column h-100">

<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Michael Basinski contributed nearly 300 reviews of poetry publications to a webzine called <cite>The Hold</cite>, from 2000-2005. He was the Associate Curator of The Poetry/Rare Books Collection SUNY at Buffalo. The reviews describe the works of poets and publishers at a time right before the web became ubiquitous, providing a useful archive and an enjoyable read.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Info</h4>
          <ul class="list-unstyled">
            <li><a href="https://en.wikipedia.org/wiki/Michael_Basinski" class="text-white">Michael Basinski</a></li>
            <li><a href="http://www.ubu.com/contemp/basinski/index.html" class="text-white">@ UbuWeb</a></li>
            <li><a href="https://www.poetryfoundation.org/poets/michael-basinski" class="text-white">@ Poetry Foundation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z"></svg>



        <strong>{{site.title}}</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>



<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="h5 mt-5">{{page.title}}</h1>
    <p>by {{page.author}}</p>
    <p>{{page.cite}}</p>
    {{ content }}


<nav aria-label="Page navigation" style="margin-top:200px;">
  <ul class="pagination pagination-sm justify-content-center w-100">
    {% if page.previous.url %}
    <li class="page-item mr-5">
      <a class="page-link"  href="{{page.previous.url}}">&larr; previous:<br/> <cite>{{page.previous.title}}</cite> by {{page.previous.author}}</a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="page-item text-right ml-5">
      <a class="page-link" href="{{page.next.url}}">next: &rarr;<br/> <cite>{{page.next.title}} by {{page.next.author}}</cite> </a>
    </li>
    {% endif %}
  </ul>
</nav>





  </div>
</main>


<footer class="navbar fixed-bottom navbar-expand-sm bg-light justify-content-center">
  <p>Copyright &copy; Michael Basinski. Released under MIT License.</p>
</footer>



 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>